<!DOCTYPE html>

    <%- include("../partials/head"); %> <!--código para incluir o conteúdo do arquivo head-->

    <body class="container">
        <%- include("../partials/header"); %>

        <main>
            <div class="jumbotron">
                <h1>Node com EJS</h1>
                <p>Vamos aprender a trabalhar com arquivos EJS</p>
            </div>

            <ul>
                <% items.forEach(function(item) { %>
                    <li>
                        <strong><%= item.title %></strong> <%= item.message %>
                    </li>
                <% }) %>
            </ul>
        </main>

        <%- include("../partials/footer"); %>
    </body>
</html>